@table: #a89fa0;
@white: #ffffff;
@black: #000000;
@login-start-color: #900b0b;
@login-end-color: #62863e;
@border-line-color: #e9ecef;
@box-background-color: #910b0c;
@box-shardow-color: #dee2e6;
@dark-button-color:#282828;
@dark-button-hover-color:#3e3e3e;
@dark-button-focus-color:#242424;
@green-button-color:#30b94b;
@green-button-hover-color:#67b965;
@green-button-focus-color:#4d9f4b;